<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="qr-code-outline" class="title-icon"></ion-icon>
      Código QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="qr-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <ion-icon name="scan-outline" class="card-icon"></ion-icon>
          Escanea el código
        </ion-card-title>
        <ion-card-subtitle class="ion-text-center">
          Utiliza este código QR para registrar la asistencia
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="qr-wrapper">
          <qr-code 
            [value]="this.QrSesion" 
            size="300" 
            errorCorrectionLevel="M"
            class="qr-code" />
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>